body {
    font-family: Arial, Helvetica, sans-serif;
}
body > div {
    margin: -8px;
}
.first-section {
    background-color: #1F2937;
    padding: 10px 5px;
}
.header-logo {
    font-size: 24px;
    color:#F9FAF8
}
.nav-like-list, .praise-text {
    font-size: 18px;
    color: #E5E7EB;
}
.praise-header-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    width: 350px;
    height: 75px;
}
.third-section {
    background-color: #E5E7EB;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.call-to-action{
    background-color: #3882F6;
}
footer {
    background-color: #1F2937;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin: -8px;
    color: white;
}
.random-information {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quote {
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
}
#quote-author {
    font-weight:bolder;
    align-self: flex-end;
}
.nav-like {
    display: flex;
    justify-content: space-around;
}
.nav-like-list-option {
    display: inline;
    list-style-type: none;
    padding: 8px;
}
.website-praise {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 100px;
}
.website-praise-image {
    width: 350px;
    height: auto;
}
button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 8px;
}
.second-section {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}
.subtext {
    width: 200px;
}
.random-information {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
}
.images {
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.praise-text {
    width: 460px;
}
.fourth-section {
    padding: 100px;
    display: flex;
    justify-content: center;
}
.call-to-action {
    padding: 40px;
    width: 600px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.action-button {
    margin: auto;
}